/* Empty. Add your own CSS if you like */

.ion-nav-view {
  background: snow;

}

.bar.bar-header .button+.title {
  text-align: center !important;
}

.list {

}

.list .item{
  opacity: 0.8;
  color: black;
  font-weight: bold;
  border-radius: 10px;
}

.membername {
  text-align: center;
  font-weight: bold;
  border-color: aqua;
}

.subheader {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;

  font-size: x-large;
  font-weight: bold;

  color: #444444;
}

/*.subheaderblack {
  padding-top: 8px;
  text-align: center;

  font-size: x-large;
  font-weight: bold;

  color: #bbbbbb;
}

.angular-google-map-container {
  height: 100%;
}*/
