<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="tabs-left">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="nav-item" ng-class="{active: $state.includes('dashboard.settings.groupInformation')}">
                        <a ui-sref=".groupInformation">Group Information</a>
                    </li>
                    <li class="nav-item" ng-class="{active: $state.includes('dashboard.settings.businessHours')}">
                        <a ui-sref=".businessHours">Business Hours</a>
                    </li>
                    <li class="nav-item" ng-class="{active: $state.includes('dashboard.settings.holidays')}">
                        <a ui-sref=".holidays">Holidays</a>
                    </li>
                    <li class="nav-item" ng-class="{active: $state.includes('dashboard.settings.appointmentSettings')}">
                        <a ui-sref=".appointmentSettings">Appointment Settings</a>
                    </li>
                    <li class="nav-item" ng-class="{active: $state.includes('dashboard.settings.members')}">
                        <a ui-sref=".members">Members</a>
                    </li>
                    <li class="nav-item" ng-class="{active: $state.includes('dashboard.settings.billing')}">
                        <a ui-sref=".billing">Billing</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" style="margin-top: 20px">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <div ui-view></div>
        </div>
    </div>
</div>

