<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Schedule-Up</h1>
  </ion-header-bar>
  <ion-content ng-controller="LoginController">
    <br/>
    <form>
      <input type="email" placeholder="Email" ng-model="$parent.user.email"/>
      <input type="password" placeholder="Password" ng-model="$parent.user.password"/>
      <button type="submit" ng-click="login()">Login</button><br/>
    </form>
    or<br/>
    <button type="submit" ng-click="goToSignup()">Create an Account</button><br/>
  </ion-content>
</ion-pane>
