<ion-pane>
  <ion-content ng-controller="LoginController">
    <br/>
    <form>
      <input type="email" placeholder="Email" ng-model="$parent.user.email"/>
      <input type="password" placeholder="Password" ng-model="$parent.user.password"/>
      <button class="button button-positive button-small" type="submit" ng-click="login()">Login</button><br/>
    </form>
    or<br/>
    <button class="button button-positive button-small" type="submit" ng-click="goToSignup()">Create an Account</button><br/>
  </ion-content>
</ion-pane>
