<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Schedule-Up</h1>
  </ion-header-bar>
  <ion-content>
    <br/>
    <form ng-submit="login()">
      <input type="text" placeholder="Email" ng-model="$parent.user.email"/>
      <input type="password" placeholder="Password" ng-model="$parent.user.password"/>
      <button type="submit">Login</button><br/>
      <!--<a href="Home.html" class="button button-full button-calm" type="submit">Login</a><br/>-->
    </form>
    or<br/>
    <a href="Signup.html">Create an Account</a>
  </ion-content>
</ion-pane>
