<div class="container">

    <!--<div class="row">-->
        <!--<div class="col-md-3">-->
            <!--<img src="">-->
            <!--<input type="file">-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-md-3">
            <div class="tabs-left">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="nav-item" ng-class="{active: $state.includes('dashboard.profile.profileInformation')}">
                        <a ui-sref=".profileInformation">Profile Information</a>
                    </li>
                    <li class="nav-item" ng-class="{active: $state.includes('dashboard.profile.businessHours')}">
                        <a ui-sref=".businessHours">Weekly Schedule</a>
                    </li>
                    <li class="nav-item" ng-class="{active: $state.includes('dashboard.profile.appointmentSettings')}">
                        <a ui-sref=".appointmentSettings">Appointment Settings</a>
                    </li>
                    <li class="nav-item" ng-class="{active: $state.includes('dashboard.profile.profileSettings')}">
                        <a ui-sref=".profileSettings">Account Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" style="margin-top: 20px">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <div ui-view></div>
        </div>
    </div>
</div>