<ion-view title="Appointment Detail">
  <ion-content>
    <ion-item>
      <div class="item item-borderless">
        <div class="membername">
          {{appointment.member.name.first}} {{appointment.member.name.last}}<br/><br/>
        </div>
        {{appointment.name}}<br/>
        {{appointment.address}}<br/>
        {{appointment.city}} {{appointment.province}}, {{appointment.postalCode}}
      </div>
    </ion-item>
    <ion-item>
      <div class="item item-borderless">
        <div class="row">
          <div class="col-50">
              {{appointment.start | date: "MMMM dd, yyyy"}}
          </div>
          <div class="col-50 text-right">
            {{appointment.start | date: "H:mm"}} - {{appointment.end | date: "H:mm"}}
          </div>
        </div>
      </div>
    </ion-item>
    <div class="row">

      <div class="col-100 text-right">
        <button class="button button-calm">Cancel Appointment</button>
      </div>
    </div>

  </ion-content>
</ion-view>
