<ion-view title="Dashboard">
    <ion-tabs class="tabs-positive">
        <ion-tab icon="ion-home" ui-sref=".home">
            <ion-nav-view name="home"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-search" ui-sref=".search">
            <ion-nav-view name="search"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-help" ui-sref=".help">
            <ion-nav-view name="help"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-log-out" ui-sref="logout">
        </ion-tab>
    </ion-tabs>
</ion-view>