<ion-view title="Dashboard">
  <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-tabs class="tabs-positive">
        <ion-tab icon="ion-home" ui-sref=".home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-search" ui-sref=".search">
            <ion-nav-view name="search-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-help" ui-sref=".help">
            <ion-nav-view name="help-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-log-out" ui-sref="logout">
        </ion-tab>
    </ion-tabs>
</ion-view>
