<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">{{availability.day}}:</h4>
</div>
<div class="modal-body">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th class="text-center">Available</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hours in availability.hours">
                <td><input type="text" class="form-control input-sm" ng-model="hours.start"></td>
                <td><input type="text" class="form-control input-sm" ng-model="hours.end"></td>
                <td class="text-center">
                    <a href ng-click="hours.availability = !hours.availability">
                        <i class="fa fa-check" style="color: green" ng-show="!hours.availability"></i>
                        <i class="fa fa-remove" style="color: red" ng-show="hours.availability"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href ng-click="up($index)" ng-show="!$first"><i class="fa fa-chevron-up"></i></a>
                    <a href ng-click="down($index)" ng-show="!$last"><i class="fa fa-chevron-down"></i></a>
                    <a href ng-click="remove($index)"><i class="fa fa-minus-square" style="color: red"></i></a>
                </td>
            </tr>
            <tr>
                <td><input type="text" class="form-control input-sm" ng-model="new.start"></td>
                <td><input type="text" class="form-control input-sm" ng-model="new.end"></td>
                <td class="text-center">
                    <a href ng-click="new.availability = !new.availability">
                        <i class="fa fa-check" style="color: green" ng-show="!new.availability"></i>
                        <i class="fa fa-remove" style="color: red" ng-show="new.availability"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href ng-click="add()"><i class="fa fa-plus-square" style="color: green"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Cancel</button>
    <button class="btn btn-success" ng-click="save()"><i class="fa fa-save">&nbsp;</i>Save</button>
</div>