<style>

    #calendars {
        padding: 1em 0;
    }

    #calendars .calendar {

        background-color: white;
        width: 900px;
        box-shadow: 0 0 4em 1em white;
    }

</style>

<div class="container-fluid">
    <div class="row">
        <div id="calendars" class="col-md-10 col-md-offset-1" coverflow>
            <div ng-controller="CalendarController" class="calendar" ng-repeat="user in group.professionals.admins">
                <h4><i class="fa fa-lock"></i>{{user.name.title}} {{user.name.first}} {{user.name.last}}</h4>
                <div ui-calendar="calendar" ng-model="eventSources"></div>
            </div>
            <div ng-controller="CalendarController" class="calendar" ng-repeat="user in group.professionals.users">
                <h4><i class="fa fa-user"></i>{{user.name.title}} {{user.name.first}} {{user.name.last}}</h4>
                <div ui-calendar="calendar" ng-model="eventSources"></div>
            </div>
        </div>
    </div>
</div>