<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Edit Profile</h4>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form submit="save()">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="firstName" class="control-label">Name:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" id="firstName" ng-model="profile.user.name.first" style="width: 45% !important" class="form-control" placeholder="first name" required />

                                <input type="text" id="lastName" ng-model="profile.user.name.last" style="width: 55% !important" class="form-control" placeholder="last name" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input id="email" type="email" ng-model="profile.user.email" class="form-control" placeholder="email address" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Change Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input id="password" type="password" ng-model="profile.user.password" class="form-control" placeholder="change password" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm" class="control-label">Confirm Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input id="confirm" type="password" ng-model="profile.user.confirm" class="form-control" placeholder="confirm password" required />
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save">&nbsp;</i>Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Appointment Times</h4>
                    <hr/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <appointment-time-setter group="group"></appointment-time-setter>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Availability</h4>
                    <hr/>
                </div>
            </div>
            <div class="row" ng-repeat="entry in profile.availability">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        <availability-editor availability="entry" group="group" profile="profile"></availability-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>