<style>
    #calendars {
        padding: 1em 0;
    }

    #calendars .calendar {
        background-color: white;
        width: 980px;
        box-shadow: 0 0 4em 1em white;
    }
    .navbar-center {
        float: none;
        display: inline-block;
    }
</style>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{currentMember.user.name.first}} {{currentMember.user.name.last}}&nbsp;<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation" ng-repeat="member in currentGroup.members" ng-show="member.user._id != currentMember.user._id">
                                    <a href ng-click="changeMember($index)">{{member.user.name.first}} {{member.user.name.last}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <ul class="nav navbar-nav navbar-center">
                    <li role="presentation"><a href ng-click="prev()"><i class="fa fa-chevron-left"></i></a></li>
                    <li role="presentation" style="width: 20em"><a href>{{title}}</a></li>
                    <li role="presentation"><a href ng-click="next()"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 text-right">
                <ul class="nav nav-pills navbar-right" style="margin-top: 10px">
                    <li role="presentation" ng-class="{active: currentView == 'month'}"><a href ng-click="changeView('month')">Month</a></li>
                    <li role="presentation" ng-class="{active: currentView == 'agendaWeek'}"><a href ng-click="changeView('agendaWeek')">Week</a></li>
                    <li role="presentation" ng-class="{active: currentView == 'agendaDay'}"><a href ng-click="changeView('agendaDay')">Day</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!--
        <div class="col-md-1 text-center">
            <a href ng-click="prevMember()"><i class="fa fa-chevron-circle-left" style="font-size: 3em"></i></a>
        </div>
        -->
        <div id="calendars" class="col-md-12" coverflow style="overflow:hidden">
            <div ng-controller="CalendarController" class="calendar" ng-repeat="member in currentGroup.members">
                <div ui-calendar="calendar" calendar="{{$index}}" ng-model="eventSources"></div>
            </div>
        </div>
        <!--
        <div class="col-md-1 text-center">
            <a href ng-click="nextMember()"><i class="fa fa-chevron-circle-right" style="font-size: 3em"></i></a>
        </div>
        -->
    </div>
</div>

<script type="text/ng-template" id="createEvent.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Event</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="eventTitle" class="control-label">Title</label>
                    <input id="eventTitle" class="form-control" ng-model="event.title">
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-6 form-group">
                    <label for="startTime" class="control-label">Start Time</label>
                    <div class="input-group">
                        <input id="startTime" type="text" ng-model="event.startTime" style="width: 50% !important" class="form-control">
                        <input id="startDate" type="text" ng-model="event.startDate" style="width: 50% !important" class="form-control">
                    </div>
                </div>
                <div class="col-xs-6 form-group">
                    <label for="endTime" class="control-label">End Time</label>
                    <div class="input-group">
                        <input id="endTime" type="text" ng-model="event.endTime" style="width: 50% !important" class="form-control">
                        <input id="endDate" type="text" ng-model="event.endDate" style="width: 50% !important" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label>Availability:</label>
                </div>
                <div class="col-xs-9">
                    <label class="radio-inline"><input type="radio" ng-model="event.available" value="unavailable">Unavailable</label>
                    <label class="radio-inline"><input type="radio" ng-model="event.available" value="available">Available</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="notes">Notes:</label>
                    <textarea id="notes" ng-model="event.notes" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" ng-click="save()"><i class="fa fa-save">&nbsp;</i>Save</button>
    </div>
</script>