<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>{{::group.name}}</h4>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="groupName" class="control-label">Name:</label>
                        <input type="text" id="groupName" ng-model="group.name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="groupAddress" class="control-label">Address:</label>
                        <input type="text" id="groupAddress" ng-model="group.address" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="groupCity" class="control-label">Address:</label>
                        <input type="text" id="groupCity" ng-model="group.city" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="groupProvince" class="control-label">Province:</label>
                        <input type="text" id="groupProvince" ng-model="group.province" class="form-control" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="groupPostalCode" class="control-label">Postal Code:</label>
                        <input type="text" id="groupPostalCode" ng-model="group.postalCode" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="save()"><i class="fa fa-save">&nbsp;</i>Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-6">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Business Hours</h4>
                    <hr/>
                </div>
            </div>
            <div class="row" ng-repeat="entry in group.defaultAvailability">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                    <availability-editor availability="entry" group="group"></availability-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

